<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout.html}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suppliers</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="container" th:if="${#lists.isEmpty(suppliers)}"
             style="background:white; opacity: 0.7; overflow-y: auto">
            <h3> You didn't create any supplier </h3>

        </div>
        <div class="container" th:if="${not #lists.isEmpty(suppliers)}"
             style="background:white; opacity: 0.7; overflow-y: auto">
            <h3>Suppliers:</h3>
            <div th:each="supplier : ${suppliers}">
                <a th:href="@{/suppliers/{id}(id=${supplier.getId()})}" th:text="${supplier.getName()}">supplier</a>
            </div>
        </div>
        <div class="container">
            <form action="/suppliers/new" method="GET">
                <button type="submit" class="btn btn-info">
                    Create supplier
                </button>
            </form>
        </div>
    </section>
</body>
</html>