<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout.html}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container" th:if="${#lists.isEmpty(products)}"
         style="background:white; opacity: 0.7; overflow-y: auto">
        <h3> You didn't add any product </h3>
    </div>
    <div class="container">
        <form action="/products/new" method="GET">
            <button type="submit" class="btn btn-info">
                Create product
            </button>
        </form>
    </div>
    <div class="container" th:if="${not #lists.isEmpty(products)}"
         style="background:white; opacity: 0.7; overflow-y: auto">
        <h3>Products:</h3>
        <table id="prod-table" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Purchase price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.title}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.supplier.name}"></td>
                    <td th:text="${product.purchasePrice}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</section>
</body>
</html>