body {
    padding-top: 10px;
    background-image: url(http://localhost:8080/images/warehouse-background.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    margin:0;
    display:flex;
    flex-direction:column;
    color: royalblue;
}
header{
    min-height:50px;
}
footer{
    min-height:50px;
    color: white;
}
article{
    flex:1;
}

